#about {
    /* height: 100vh; */
    padding-bottom: 120px;
    background-color: blanchedalmond;
    background-image: url('../images/background_img/about_bg.webp');
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#about .container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

#about .about-header{
    height: 10vh;
    margin: 0;
}




.black-sugar {
    aspect-ratio: 23 / 4;
    background-image: url('../images/background_img/section_header.webp');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}


.container-about-us-title {
    position: absolute;
    top:5%;
    z-index: 2;
}

.about-us-icon {
    background-image: url('../images/nav/icon1-1.png');
    background-size: contain;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 6px;
}

.about-us-tilte {
    color: white;
    float: left;
}

.about-us-tilte h1,
h2 {
    font-size: 14px;
    font-weight: 500;
}

.about-us-tilte h1 {
    margin-bottom: 0;
}

.about-us-tilte h2 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.about-card-group-container {
    margin: 80px 0 0;
    z-index: 3;
    position: relative;
}

.about-card-group-text-animation-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-right: 50px;
}

.about-card-group-text-animation-botton {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-right: 50px;
}

@media screen and (min-width:480px) {
    .about-card-group-text-animation-top {
        flex-direction: row;
    }

    .about-card-group-text-animation-botton {
        flex-direction: row;
    }
}

.about-card-group-img {
    margin: auto;
    width: 106px;
}

@media screen and (min-width:480px) {
    .about-card-group-img {
        margin: unset;
    }

}

.about-card-group-text {
    color: white;
}

@media screen and (min-width:480px) {
    .about-card-group-text {
        margin-left: 30px;
    }
}

.about-card-group-text h2 {
    font-size: 20px;
    margin-top: 0;
}

.about-card-group-text p {
    font-size: 14px;
}

.cloud-left {
    width: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 2;
}

.cloud-right {
    width: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 2;
}

[data-aos=fade-left] {
    transform: translate3d(100%, 0, 0);
}

[data-aos=fade-right] {
    transform: translate3d(-90%, 0, 0);
}

[data-aos=fade-down] {
    transform: translate3d(0, -250px, 0);
}

[data-aos^=fade][data-aos^=fade] {
    opacity: 1;
}

.about-us-scroll-img {
    width: 30vw;
    position: absolute;
    right: 3%;
    top: 5%;
    z-index: 1;
}

.about-us-scroll-img img {
    z-index: inherit;
    position: absolute;
}

@media screen and (max-width:1200px) {
    .cloud-right {
        display: none;
    }

    .cloud-left {
        display: none;
    }
}

@media screen and (min-width:576px) {
    #about .container {
        max-width: 540px;
    }
}

@media screen and (min-width:768px) {
    #about .container {
        max-width: 720px;
    }
}

@media screen and (min-width:992px) {
    #about .container {
        max-width: 960px;
    }

}

@media screen and (min-width:1200px) {
    #about .container {
        max-width: 1140px;
    }
}