* {
    box-sizing: border-box;
}

body {
    background-color: #0C1219;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

#distribution-container {
    background-image: url('../images/distribution-confirm/bg_extra.png');
    background-size: cover;
    width: 100%;
}

#distribution-confirm .container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding-top: 76px;
}

#distribution-confirm .title-area {
    position: relative;
    margin-bottom: 20px;
    height: 430px;
}

#distribution-confirm .title {
    display: flex;
    font-size: 14px;
    color: white;
    margin: 93px 0 12px;
}

#distribution-confirm .title-img {
    background-image: url(../images/distribution-confirm/icon/distribution.svg);
    height: 32px;
    width: 32px;
    margin: 0px 4px 0px 0px;
    background-size: cover;
}

#distribution-confirm .title-flex {
    display: flex;
    width: 100%;
    padding: 50px 0px;
}

#distribution-confirm .title-text-top {
    font-size: 14px;
    margin-top: 2px;
}



#distribution-confirm .title-text-bottom {
    font-size: 12px;
    margin: 2px 0 8px 0;
}

#distribution-confirm .tiger-sugar-img {
    display: block;
    margin: 0 auto 20px;
    height: 183px;
}

#distribution-confirm .distribution-check {
    width: 258px;
    height: 50px;
    border: #FFFFFF 1px solid;
    color: #FFFFFF;
    margin: 0 auto;
    font-size: 26px;
    padding: 4px;
    text-align: center;
}

#distribution-confirm .title-bottom {
    position: relative;
}

#distribution-confirm .delete-all {
    width: 125px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    outline: #ffffff 1px solid;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: -126px;
}

#distribution-confirm .card-container {
    display: flex;
    flex-wrap: wrap;
}


#distribution-confirm .btn {
    display: inline-block;
    color: #212529;
    text-align: center;
    border: 1px solid transparent;
    color: #FFFFFF;
    padding: 0.375rem 0.75rem;
    font-size: 18px;
    line-height: 1.6;
    border-radius: 0.25rem;
    cursor: pointer;
}

#distribution-confirm .btn:hover {
    background-color: #FFFFFF;
    color: #000;
    transition: 1s;
}

#distribution-confirm .swiper {
    width: 70%;
    height: 35px !important;
    margin: 10px auto;
    position: absolute;
    left: 30px;
    bottom: -135px;
}

#distribution-confirm .swiper-slide {
    text-align: center;
    font-size: 18px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#distribution-confirm .swiper-slide:hover {
    border: #FFFFFF 1px solid;
}

#distribution-confirm .swiper-button-distribution-container {
    position: absolute;
    bottom: -108px;
}

#distribution-confirm .swiper-button-next,
#distribution-confirm .swiper-button-prev {
    color: #FFFFFF;
    position: absolute;
}

#distribution-confirm .swiper-button-next {
    left: 800px;
}

#distribution-confirm .swiper-button-prev {
    left: 10px;
}

#distribution-confirm .next-prev-img {
    width: 8px;
    height: 41px;
}

#distribution-confirm .swiper-button-next:after,
#distribution-confirm .swiper-button-prev:after {
    display: none;
}

#distribution-confirm .pagination-top {
    display: flex;
    justify-content: end;
    margin: 30px 0 30px;
}

#distribution-confirm .pagination-down {
    display: flex;
    justify-content: end;
    margin: 22px 0 100px;
}

#distribution-confirm .page-item-next {
    margin-left: 25px;
}

#distribution-confirm .page-item-prev {
    margin-right: 25px;
}

#distribution-confirm .page-link {
    font-size: 12px;
    color: #FFFFFF;
}

#distribution-confirm .page-item.active .page-link {
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    padding: 4px;
    text-align: center;
}

#distribution-confirm .distribution-line {
    width: 100%;
    border-top: 1px #ffffff solid;
    margin-bottom: 20px;
}

#distribution-confirm .distribution-line-down {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 30px;
}

#distribution-confirm .direction-body {
    color: #fff;
    margin: 30px 11px 15px 11px;
}

#distribution-confirm .img-w-h-border-img {
    width: 255px;
    height: 276px;
    background-image: url('/img/shop-img-border.png');
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
    top: 10px;
}

#distribution-confirm .product-img {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    right: 11px;
    top: 10px;
}

#distribution-confirm .ask-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 11px;
    top: 10px;
}

#distribution-confirm .product-img-hover {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    outline: #ffe282 2px solid;
    background-color: #000000;
    opacity: 0.8;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: 1s;
}

#distribution-confirm .ask-icon-hover {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    top: 0px;
}

#distribution-confirm .commodity-title {
    font-size: 16px !important;
    height: 32px;
    font-size: 20px;
    margin-top: 22px;
}

#distribution-confirm .commodity-title-english {
    font-size: 12px !important;
    max-width: 255px;
    height: 42px;
    font-size: 14px;
}

#distribution-confirm .commodity-sort {
    font-size: 16px !important;
    height: 32px;
    font-size: 20px;
}

#distribution-confirm .commodity-title,
#distribution-confirm .commodity-title-english,
#distribution-confirm .commodity-sort {
    display: flex;
}

#distribution-confirm .commodity-more-button.btn-more {
    width: 124px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: #ffe282 3px solid;
    color: #ffe282;
    border-radius: 5px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 65px);
    font-size: 18px;
}

#distribution-confirm .img-w-h-border-img:hover .product-img-hover {
    opacity: 0.8;

}

#fillout-area .container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 500px;
    /* background-color: lightpink; */
}

#fillout-area .title {
    display: flex;
    font-size: 14px;
    color: white;
    margin: 0px 0 100px;
}

#fillout-area .title-img {
    background-image: url(../images/distribution-confirm/icon/fillout_icon.svg);
    height: 32px;
    width: 32px;
    margin: 0px 4px 0px 0px;
    background-size: cover;
}

#fillout-area .title-text-top {
    font-size: 14px;
    margin-top: 2px;
}

#fillout-area .title-text-bottom {
    font-size: 12px;
    margin: 2px 0 8px 0;
}

#fillout-area .basic-fillout .fill-title,
#fillout-area .sales-fillout .fill-title {
    width: 265px;
    height: 47px;
    font-size: 26px;
    outline: #ffe282 1px solid;
    padding: 4px;
    text-align: center;
    margin-right: 35px;
    margin-bottom: 35px;
    color: white;
}

#fillout-area .basic-fillout {
    width: 84%;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    /* background-color: cornflowerblue; */
}

#fillout-area .basic-inside-fillout {
    width: 70%;
    border-bottom: 1px solid white;
}

#fillout-area .fill-name-birthday {
    display: flex;
}

#fillout-area .fill-name {
    margin: 0 24px 15px 0;
    display: flex;
    flex-direction: column;
    width: calc(50% - 12px);
}

#fillout-area .fill-birthday {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 12px);
}

#fillout-area .fill-email {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#fillout-area .fill-phone {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#fillout-area .fill-address {
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#fillout-area .sales-fillout {
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /* background-color: lightgray; */
}

#fillout-area .sales-inside-fillout {
    width: 70%;
    position: relative;

}

#fillout-area .sales-white-line{
    border-bottom: 1px solid white;
    margin-bottom: 50px;
}

#fillout-area .fill-channel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

#fillout-area .fill-country {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

#fillout-area .fill-other {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

#fillout-area .fill-name-text,
#fillout-area .fill-birthday-text,
#fillout-area .fill-email-text,
#fillout-area .fill-phone-text,
#fillout-area .fill-address-text,
#fillout-area .fill-channel-text,
#fillout-area .fill-country-text,
#fillout-area .fill-other-text {
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
}

#fillout-area .fill-name-input,
#fillout-area .fill-birthday-input,
#fillout-area .fill-email-input,
#fillout-area .fill-phone-input,
#fillout-area .fill-address-input,
#fillout-area .fill-channel-input,
#fillout-area .fill-country-input,
#fillout-area .fill-other-input {
    padding: 6px 12px;
    border: 0.8px solid lightgray;
    border-radius: 5px;
    height: 38px;
}

#fillout-area .send-info{
    width: 90px;
    height: 38px;
    font-size: 16px;
    border: unset;
    border-radius: 10px;
    color: white;
    background-color: #6c757d;
    position: absolute;
    left: calc(50% - 45px);
}