*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

.main{
    width: 100%;
    background-image: url(/images/background_img/bg_extra.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}
.distribution-logo-group{
    display: flex;
}
.distribution-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.distribution-logo-img{
    width: 30px;
}
.distribution-logo-text{
    margin-left: 10px;
}
.distribution-logo-text-cn{
    color: aliceblue;
    font-size: 14px;
}
.distribution-logo-text-en{
    margin-top: 5px;
    color: aliceblue;
    font-size: 12px;
}
.select-all-btn{
    font-size: 18px;
    padding: 8px 24px;
    color: aliceblue;
    background-color: unset;
    outline: #ffe282 1px solid;
    border-radius: 5px 5px 5px 5px;
}
.select-all-btn:hover{
    background-color: #ffe282;
    color: black;
    transition: color 1s, background-color 1s;
}

.swiper-and-page-group{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.swiper-and-page-group::after{
    content: '';
    position: absolute;
    top: 150%;
    width: 100%;
    border-bottom: 1px solid white;
}

/* swiper */
.swiper {
    margin: -1% !important;
    width: 68%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 7px 25px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-wrapper{
    width: 600px;
  }

/* 上一頁 下一頁 */
.page-up-and-page-down-group{
    width: 20%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-up,.page-1,.page-2,.page-down{
    background-color: unset;
    color: aliceblue;
    border: 0;
}

/* 產品方格 */
.prduct-grid-columns{
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.product-background{
    position: relative;
    width: 350px;
    background-image: url(/img/shop-img-border.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.product-background img{
    width: 100%;
}
.product{
    position: relative;
    width: 350px;
    height: 380px;
}
.product img{
    width: 330px;
    height: 360px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.product-info{
    margin-top: 5%;
}
.product-title{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 20px;
}
.product-title-en{
    color: aliceblue;
    font-size: 14px;
    margin-bottom: 20px;
}
.product-id{
    color: aliceblue;
    font-size: 20px;
}
.div-line{
    position: relative;
    margin-top: 5%;
}
.div-line::after{
    content: '';
    position: absolute;
    top: 150%;
    width: 100%;
    border-bottom: 1px solid white;
}
.page-up-and-page-down-group-buttom{
    width: 20%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    padding: 3% 0;
}
.swiper-button-next:after, .swiper-button-prev:after{
    content: '';
    color: aliceblue;
    font-size: unset !important;
}
:any-link{
    text-decoration: none;
    color: aliceblue;
}
:any-link:active{
    background-color: aliceblue;
    color: black;
}
.yellow-box{
    width: 50px;
    position: absolute;
    top: 2.6%;
    left: 82.8%;
}
.product-img-group:hover{
    background-color: #ffe282;
    transition: color 1s, background-color 1s;
}