#media .container {
    max-width: 1140px;
    margin: auto;
    width: 100%;
    background-color: #0C1219;
}

@media screen and (min-width: 576px) {
    #media .container {
        max-width: 540px;
    }
}


@media screen and (min-width: 768px) {
    #media .container {
        max-width: 720px;
    }
}


@media screen and (min-width: 992px) {
    #media .container {
        max-width: 960px;
    }
}


@media screen and (min-width: 1200px) {
    #media .container {
        max-width: 1140px;
    }
}

#media .title-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: white;
}

#media .title-img {
    background-image: url(../images/nav/icon1-4.png);
    height: 32px;
    width: 32px;
    margin: 0px 4px 0px 0px;
    background-size: cover;
}

#media .title-flex {
    display: flex;
    width: 100%;
    padding: 50px 0px;
}

#media .title-text-top {
    font-size: 14px;
    margin-top: 7px;
}

#media .title-text-bottom {
    font-size: 12px;
    margin-bottom: 8px;
}

#media .video {
    width: 100%;
}

#media .volumn {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 5%;
    right: 2%;
}

#media .swiper-button-next,
#media .swiper-button-prev {
    --swiper-theme-color: white;
}

#media .swiper-slide {
    position: relative;
}