* {
    box-sizing: border-box;
}

body {
    position: relative;
}

#pop-window {
    display: none;
    background-color: transparent;
    position: absolute;
    z-index: 102;
    top:5%;
    transition: 0.3s ease-in-out;
}

.window-overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 101;
    background: rgba(0, 0, 0, 0.5);
}

#pop-window .container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    position: relative;
}

#pop-window .pop-window-content {
    background-color: #222222;
    border: 2px solid #a38a77;
    width: 100%;
    margin: auto;
}

#pop-window .pop-window-close {
    width: 80px;
    height: 80px;
    background-image: url(../img/light_closed.svg);
    position: absolute;
    right: 25px;
    top: 10px;
}

#pop-window .pop-window-close button {
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

#pop-window .pop-window-header {
    width: 100%;
}

#pop-window .pop-window-title {
    margin: 30px auto;
    width: 84%;
    display: flex;
}

#pop-window .pop-window-title-icon {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    background-image: url(../img/distribution.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#pop-window .pop-window-title-text {}

#pop-window .pop-window-title-text-chinese {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.6;
}

#pop-window .pop-window-title-text-english {
    font-size: 8px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.6;
}

#pop-window .product-information-content {
    width: 84%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 50px;
    margin: auto;

}

#pop-window .product-information-swiper {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

#pop-window .product-information-text {
    width: 100%;
    position: relative;
    margin-left: 20px;
}

#pop-window .content-text-title {
    font-size: 18px;
    margin-bottom: 7.5px;
    color: #ffffff;
    position: relative;
}

#pop-window .content-text-title::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 100;
}

#pop-window .content-text-title-eng {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffffff;
}

/* 取消寬度設定 RWD到1200px以下時 不會導致內容被吃掉 */
#pop-window .content-text-sort {
    font-size: 14px;
    /* width: 352px; */
    margin-bottom: 30px;
    color: #ffffff;
}

#pop-window .content-text-product-describe {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 32px;
    color: #ffffff;
}

#pop-window .commodity-listed-date {
    margin-right: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#pop-window .listed-date-title {
    display: flex;
    flex-direction: row;
    width: 80px;
    font-size: 20px;
    margin-right: 18px;
}

#pop-window .listed-date {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: flex-end;
}


#pop-window .commodity-weight {
    margin-right: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#pop-window .commodity-weight-title {
    display: flex;
    flex-direction: row;
    width: 80px;
    font-size: 20px;
}

#pop-window .net-weight {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

#pop-window .commodity-expiration {
    margin-right: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#pop-window .expiration-day {
    display: flex;
    align-self: flex-end;
}

#pop-window .commodity-expiration-title {
    display: flex;
    flex-direction: row;
    width: 80px;
    font-size: 20px;
    margin-right: 18px;
}

#pop-window .expiration-month {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}

#pop-window .commodity-preservation-method {
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#pop-window .method-title {
    /* width: 80px; */
    margin-right: 18px;
    font-weight: 600;
    font-size: 20px;
    margin-right: 18px;
}

#pop-window .method-text {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#pop-window .unit {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
}

#pop-window .add-for-ask-button {
    width: 114px;
    height: 48px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ffffff;
    outline: #ffe282 1px solid;
    font-size: 18px;
    border: none;
    padding: 0;
    background-color: transparent;
}

#pop-window .add-for-ask-button:hover {
    background-color: #ffe282;
    color: #000000;
    transition: 0.5s ease-in-out;
}


#pop-window .commodity-table {
    width: 84%;
    margin: 0 auto 65px;
}

#pop-window .commodity-nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid rgb(222, 226, 230);
}

#pop-window .commodity-nav li {
    color: #ffffff;
}

#pop-window .nav-item {
    margin-bottom: -1px;
}

#pop-window .nav-item a {
    text-decoration: none;
}

/* 視窗畫面小於576px */
@media screen and (max-width:576px) {
    #pop-window {
        width: 100%;
    }
}

@media screen and (min-width:576px) {
    #pop-window .container {
        max-width: 540px;
    }

    #pop-window .pop-window-close {
        right: 25px;
        top: 10px;
    }

    #pop-window .pop-window-content {
        width: 100%;
    }
    #pop-window {
        left: calc(50% - 270px);
    }
}

@media screen and (min-width:768px) {
    #pop-window .container {
        max-width: 720px;
    }
    #pop-window {
        left: calc(50% - 360px);
    }
}

@media screen and (min-width:992px) {
    #pop-window .container {
        max-width: 960px;
    }

    #pop-window {
        left: calc(50% - 480px);
    }
}

@media screen and (min-width:1200px) {
    #pop-window .container {
        max-width: 1140px;
    }

    #pop-window .pop-window-close {
        right: 30px;
        top: 10px;
    }

    #pop-window .pop-window-content {
        width: 1100px;
    }
    #pop-window .product-information-content{
        /* margin: 0 auto 50px; */
    }
    #pop-window {
        left: calc(50% - 565px);
    }
}

@media screen and (min-width:1300px) {

    #pop-window .pop-window-close {
        right: -65px;
        top: 0;
    }
}

/* 彈跳視窗上半部swiper 左邊直的是主要(main) 右邊是次要(sub) */

/* 上方swiper 樣式 */
#pop-window .swiper-pop-top {
    width: 20%;
    height: 456px;
    margin-left: auto;
    margin-right: auto;
}

/* padding上半部左側swiper 高度調整 */
#pop-window .my-pop-swiper {
    height: 496px;
    width: 85px;
    box-sizing: border-box;
    padding: 10px 0 50px 0;
}

#pop-window .my-pop-swiper img {
    height: 93px;
}


#pop-window .my-pop-swiper-sub {
    height: 437px;
    width: 400px;
    margin: 10px;
}


#pop-window .swiper-pop-top-slide {
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: 2; */
}


#pop-window .my-pop-swiper .swiper-slide {
    width: 100%;
    height: 100%;
}

#pop-window .my-pop-swiper .swiper-slide-thumb-active {
    border: 2px solid #ffe282;
}

#pop-window .swiper-pop-top-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pop-window .swiper-pagination-fraction {
    height: 24px;
    width: 69px;
    position: absolute;
    left: 320px;
    font-size: 12px;
    background-image: url('/img/pagnation_bg.png');
}

/* #pop-window .swiper-pagination-fraction::after {
    content:'';
    width: 0px;
    height: 0px;
    border:12px solid ;
    border-color: transparent #ffffff #ffffff transparent  ;
    position: absolute;
    left: -23px;
    top:0px;
} */

#pop-window .swiper-page-dec {
    /* position: absolute; */
    /* bottom: 10px;
    left: 100px; */
}

#pop-window .pop-sub-border-img {
    width: 100%;
    height: 100%;
    background-image: url('/img/shop-img-border.png');
    background-size: contain;
    position: relative;
    background-color: #222222;
    object-fit: contain;
}

#pop-window .sub-img {
    width: 420px;
    height: 456px;
    border: 10px solid transparent;
    position: absolute;
    background-size: contain;
}



/* tab-nav switch  */

#pop-window .tab-switch {
    display: none;
}

#pop-window .tab-nav {
    width: 84%;
    margin: auto;
}

#pop-window .tab-switch:checked+.tab-label {
    background: #222222;
    color: #ffe282;
    border-bottom: 0;
    border-color: 2px solid #dee2e6 #dee2e6 #f8fafc;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}

#pop-window .tab-switch:checked+label+.tab-content {
    z-index: 2;
    opacity: 1;
    border-color: #dee2e6 #dee2e6 #f8fafc;
    transition: all 0.35s;
}

#pop-window .tab-label {
    position: relative;
    /* display: block; */
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #222222;
    border-color: #dee2e6 #dee2e6 #f8fafc;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}

#pop-window .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}

#pop-window .tab-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent;
    height: auto;
    color: #ffffff;
    line-height: 2.75em;
    /* border-top: 2px solid #ffffff; */
}

#pop-window .tab-content::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: -3px;
}

#pop-window .tab-content>div {
    display: none;
    background: #222222;
    color: #ffffff;
    padding: 1.618rem;
    opacity: 1;
    transition: all 0.35s;
}

/* .tab-switch:checked+label+.tab-content>div {
    display: block;
    opacity: 1;
} */



#pop-window .tab-switch:checked+.tab-label {
    background: #222222;
    color: #ffe282;
    border-bottom: 0;
    padding: 8px 16px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}

#pop-window .tab-switch+.tab-label {
    border-bottom: 0;
    padding: 8px 16px;
    z-index: 1;
    /* border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent; */
}

input[type="radio"] {
    margin: 0;
}

/* swiper 2 */

a {
    text-decoration: none;
}

#pop-window .bottom-pop-window-swiper {
    position: relative;
    width: 84%;
    margin: 0 auto;
}

#pop-window .recommend-title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 18px;
    color: #ffffff;
}

#pop-window .recommend-line {
    width: 100%;
    border-top: 2px solid #ffffff;
    margin-bottom: 32px;
}

#pop-window .swiper-button-product .swiper-button-next {
    position: absolute;
    right: -30px;
}

#pop-window .swiper-button-product {
    position: relative;
    bottom: 340px;
}

#pop-window .swiper-button-product .swiper-button-prev {
    position: absolute;
    left: -35px;
}


#pop-window .card-container {
    max-width: 1140px;
    width: 65%;
    margin: auto;
}

@media screen and (min-width:900px) {
    #pop-window .card-container {
        width: 80%;
    }
}

@media screen and (min-width:1400px) {
    #pop-window .card-container {
        width: 100%;
    }
}

#pop-window .swiper-pop-bottom {
    width: 100%;
    margin: 20px auto;
}

#pop-window .swiper-pop-bottom-slide {
    text-align: center;
    font-size: 18px;
    /* margin: 0px 0px 12px; */
    margin-right: 24px;
    height: calc(100% - 2px);
    background: unset;
}

#pop-window .img-box-border-img {
    width: 293px;
    height: 318px;
    background-image: url('/img/shop-img-border.png');
    background-size: contain;
    margin-bottom: 20px;
    position: relative;
    top: 10px;
}

#pop-window .product-img {
    width: 276px;
    height: 301px;
    position: absolute;
    right: 11px;
    top: 10px;
}

#pop-window .ask-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 11px;
    top: 10px;
}

#pop-window .ask-icon-hover {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0px;
}

#pop-window .direction-body {
    width: 293px;
    height: auto;
    margin-bottom: 50px;
    color: #fff;
}

@media (max-width:1400px) {

    #pop-window .direction-body {
        margin: auto;
    }
}

@media (max-width:540px) {

    #pop-window .img-w-h-border-img {
        width: 100%;

    }

    #pop-window .direction-body {
        width: 100%;
    }

    #pop-window .product-img-hover {
        width: calc(100% - 20px);
    }

    #pop-window .product-img {
        width: calc(100% - 20px);
    }
}

#pop-window .commodity-title {
    height: 32px;
    font-size: 20px;
    margin-bottom: 15px;
}

#pop-window .commodity-title-english {
    height: 42px;
    font-size: 14px;
    margin-bottom: 20px;
}

#pop-window .commodity-sort {
    height: 32px;
    font-size: 20px;
}

#pop-window .commodity-title,
#pop-window .commodity-title-english,
#pop-window .commodity-sort {
    display: flex;
}


#pop-window .swiper-button-next:after,
#pop-window .swiper-button-prev:after {
    display: none;
}

#pop-window .next-prev-img {
    width: 22px;
    height: 37px;
}

#pop-window .product-img-hover {
    position: absolute;
    width: 276px;
    height: 301px;
    outline: #ffe282 2px solid;
    background-color: #000000;
    opacity: 0.8;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: 1s;
}

#pop-window .img-box-border-img:hover .product-img-hover {
    opacity: 0.8;

}

#pop-window .commodity-more-button.btn {
    width: 98px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: #ffe282 3px solid;
    color: #ffe282;
    border-radius: 5px;
    position: absolute;
    top: 138px;
    left: 90px;
    font-size: 18px;
}

/* RWD  */

@media (max-width:1100px) {

    #pop-window .product-information-content {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #pop-window .product-information-swiper {
        width: 100%;
    }

    #pop-window .product-information-text {
        width: 100%;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto 65px;
    }

    #pop-window .container {
        display: flex;
        flex-direction: column;
    }
}

/* swiper main  RWD */

@media (max-width:768px) {
    #pop-window .product-information-swiper {
        flex-wrap: wrap-reverse;
    }

    #pop-window .my-pop-swiper {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }
}