* {
    box-sizing: border-box;
}

#pop-window {
    /* display: none; */
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
}

#pop-window .container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    position: relative;
}

#pop-window .pop-window-content {
    background-color: #222222;
    border: 2px solid #a38a77;
    width: 100%;
    margin: auto;
}

#pop-window .pop-window-close {
    width: 80px;
    height: 80px;
    background-image: url(../img/light_closed.svg);
    position: absolute;
    right: 25px;
    top: 10px;
}

#pop-window .pop-window-header {
    width: 100%;
}

#pop-window .pop-window-title {
    margin: 30px auto;
    width: 84%;
    display: flex;
}

#pop-window .pop-window-title-icon {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    background-image: url(../img/distribution.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#pop-window .pop-window-title-text {}

#pop-window .pop-window-title-text-chinese {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.6;
}

#pop-window .pop-window-title-text-english {
    font-size: 8px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.6;
}

#pop-window .product-information-content {
    width: 84%;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: 0 auto 50px;
}



#pop-window .product-information-swiper {
    display: flex;
    margin: 0;
    padding: 0;
    width: 50%;
    margin-bottom: 20px;
    position: relative;
}

#pop-window .product-information-text {
    width: 100%;
}

#pop-window .content-text-title {
    font-size: 18px;
    margin-bottom: 7.5px;
    color: #ffffff;
    position: relative;
}

#pop-window .content-text-title::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 30px;
    right: -10px;
    z-index: 100;
}

#pop-window .content-text-title-eng {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffffff;
}

#pop-window .content-text-sort {
    font-size: 14px;
    width: 352px;
    margin-bottom: 30px;
    color: #ffffff;
}

#pop-window .content-text-product-describe {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 32px;
    color: #ffffff;
}

#pop-window .commodity-listed-date {
    margin-right: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#pop-window .listed-date-title {
    display: flex;
    flex-direction: row;
    width: 80px;
    font-size: 20px;
    margin-right: 18px;
}

#pop-window .listed-date {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: flex-end;
}


#pop-window .commodity-weight {
    margin-right: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#pop-window .commodity-weight-title {
    display: flex;
    flex-direction: row;
    width: 80px;
    font-size: 20px;
}

#pop-window .net-weight {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

#pop-window .commodity-expiration {
    margin-right: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#pop-window .expiration-day {
  display: flex;
  align-self: flex-end;
}

#pop-window .commodity-expiration-title {
    display: flex;
    flex-direction: row;
    width: 80px;
    font-size: 20px;
    margin-right: 18px;
}

#pop-window .expiration-month {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}

#pop-window .commodity-preservation-method {
    
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#pop-window .method-title {
    /* width: 80px; */
    margin-right: 18px;
    font-weight: 600;
    font-size: 20px;
    margin-right: 18px;
}

#pop-window .method-text {
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
}

#pop-window .unit {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
}

#pop-window .commodity-table {
    width: 84%;
    margin: 0 auto 65px;
}

#pop-window .commodity-nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid rgb(222, 226, 230);
}

#pop-window .commodity-nav li {
    color: #ffffff;
}

#pop-window .nav-item {
    margin-bottom: -1px;
}

#pop-window .nav-item a {
    text-decoration: none;
}




@media screen and (min-width:576px) {
    #pop-window .container {
        max-width: 540px;
    }

    #pop-window .pop-window-close {
        right: 25px;
        top: 10px;
    }

    #pop-window .pop-window-content {
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    #pop-window .container {
        max-width: 720px;
    }
}

@media screen and (min-width:992px) {
    #pop-window .container {
        max-width: 960px;
    }
}

@media screen and (min-width:1200px) {
    #pop-window .container {
        max-width: 1140px;
    }

    #pop-window .pop-window-close {
        right: 45px;
        top: 10px;
    }

    #pop-window .pop-window-content {
        width: 1100px;
    }
}

@media screen and (min-width:1300px) {

    #pop-window .pop-window-close {
        right: -45px;
        top: 0;
    }
}

/* 彈跳視窗上半部swiper 左邊直的是主要 右邊是sub次要 */

#pop-window .swiper {
    width: 420px;
    height:456px;
}

#pop-window .swiper {
    width: 20%;
    height: 456px;
    margin-left: auto;
    margin-right: auto;
}


#pop-window .my-swiper-sub {
    height: 70%;
    width: 70%;
}

#pop-window .my-swiper {
    height: 90%;
    box-sizing: border-box;
    padding: 10px 0;
}



#pop-window .swiper-slide {
    background-size: cover;
    background-position: center;
}

#pop-window .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



#pop-window .my-swiper .swiper-slide {
    width: 100%;
    height: 100%;
}


#pop-window .my-swiper .swiper-slide-thumb-active {
    /* opacity: 1; */
    border: 2px solid #ffe282;
}



#pop-window .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pop-window .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* swiper button style */

/* #pop-window .swiper-button-next::after {
    color: #fff;
}

#pop-window .swiper-button-prev::after {
    color: #fff;
} */
/* 
#pop-window .display-vertical {
    display: flex;
    flex-direction: column;
    height: 456px;
} */





/* swiper 2 */

/* #pop-window .swiper-button-product {
    position: relative;
    bottom: 340px;
}

.swiper-button-product .swiper-button-next {
    position: absolute;
    right: -30px;
}

.swiper-button-product .swiper-button-prev {
    position: absolute;
    left: -35px;
}


#pop-window .card-container {
    max-width: 1140px;
    width: 65%;
    margin: auto;
}

@media screen and (min-width:900px) {
    #pop-window .card-container {
        width: 80%;
    }
}

@media screen and (min-width:1400px) {
    #pop-window .card-container {
        width: 100%;
    }
}

#pop-window .header .container {
    height: 55px;
    display: flex;
    justify-content: start;
}

#pop-window .swiper {
    width: 100%;
    margin: 20px auto;
}

#pop-window .swiper-slide-commidity {
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 12px;
    height: calc(100% - 2px) !important;
}


#pop-window .swiper-button-next,
.swiper-button-prev {
    color: #FFFFFF;
    width: 27px !important;
}

#pop-window .card-body {
    background: white;
    max-width: 540px;
    width: calc(100% - 2px);
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: none;
    display: block;
    min-width: 326px;
    padding: 0px;
}

#pop-window .swiper-slide {
    background: unset;
}

#pop-window .title {
    padding-top: 100px;
    margin-bottom: 68px;
    display: flex;
}

.distribution-icon {
    width: 30.05px;
    height: 32px;
    margin: 0 5px 0 0;
}


#pop-window .title-text {
    color: white;
}

#pop-window .title-text-1 {
    width: 56px;
    height: 26px;
    font-size: 14px;
}

#pop-window .title-text-2 {
    width: 56px;
    height: 14.4px;
    font-size: 12px;
}

#pop-window .img-w-h-border-img {
    width: 350px;
    height: 379px;
    background-image: url('/img/shop-img-border.png');
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
    top: 10px;
}

#pop-window .product-img {
    width: 330px;
    height: 360px;
    position: absolute;
    right: 11px;
    top: 10px;
}

#pop-window .ask-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 11px;
    top: 10px;
}



#pop-window .commodity-title {
    height: 32px;
    font-size: 20px;
    margin-bottom: 15px;
}

#pop-window .commodity-title-english {
    height: 42px;
    font-size: 14px;
    margin-bottom: 20px;
}

#pop-window .commodity-sort {
    height: 32px;
    font-size: 20px;
}

#pop-window .commodity-title,
#pop-window .commodity-title-english,
#pop-window .commodity-sort {
    display: flex;
}

#pop-window .distribution-area-button {
    height: 45px;
    padding: 8px 30px;
    font-size: 20px;
    border: 1px solid #FFDD80;
    color: #FFF;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

#pop-window .swiper-button-next:after,
#pop-window .swiper-button-prev:after {
    display: none;
}

#pop-window .next-prev-img {
    width: 22px;
    height: 37px;
}

#pop-window .product-img-hover {
    position: absolute;
    width: 330px;
    height: 360px;
    outline: #ffe282 2px solid;
    background-color: #000000;
    opacity: 0.8;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: 1s;
}

#pop-window .img-w-h-border-img:hover .product-img-hover {
    opacity: 0.8;

}

#pop-window .ask-icon-hover {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0px;
}



#pop-window .direction-body {
    width: 350px;
    color: #fff;
}


#pop-window .commodity-more-button.btn {
    width: 124px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: #ffe282 3px solid;
    color: #ffe282;
    border-radius: 5px;
    position: absolute;
    top: calc(180px - 12px);
    left: calc(165px - 62px);
    font-size: 18px;
}

@media (max-width:1400px) {

    #pop-window .direction-body {
        margin: auto;
    }
}
@media (max-width:540px) {

    #pop-window .img-w-h-border-img {
        width: 100%;

    }

    #pop-window .direction-body {
        width: 100%;
    }

    #pop-window .product-img-hover {
        width: calc(100% - 20px);
    }

    #pop-window .product-img {
        width: calc(100% - 20px);
    }
} */
