@media(min-width:481px) {
  #social .container {
    max-width: 454px;
  }

  #social .card-body {
    height: 400px !important;
  }

  #social .swiper-button-next,
  #social .swiper-button-prev {
    top: 146px !important;
  }
}


@media(min-width:576px) {
  #social .container {
    max-width: 540px;
  }

  #social .card-body {
    height: 450px !important;
  }

  #social .swiper-button-next,
  #social .swiper-button-prev {
    top: 100px !important;
  }
}

@media(min-width:768px) {
  #social .container {
    max-width: 720px;
  }

  #social .card-body {
    height: 540px !important;
  }
}

@media(min-width:992px) {
  #social .container {
    max-width: 960px;
  }

  #social .card-body {
    height: 656px !important;
  }
}

@media(min-width:1200px) {
  #social .container {
    max-width: 1140px;
  }

  #social .card-body {
    height: 550px !important;
  }

}

#social {
  padding-bottom: 120px;
  background-color: #0c1219;
}

#social .container {
  padding: 0 15px;
  margin: auto;
  width: 100%;
}

#social .header {
  height: 192px;
}

#social .header .container {
  padding-top: 55px;
  display: flex;
  justify-content: start;
}

#social .title-text {
  color: white;
  float: right;
}

#social .title-text-1 {
  width: 56px;
  height: 26px;
  margin-top: 7px;
  font-size: 14px;
}

#social .title-text-2 {
  width: 56px;
  height: 14.4px;
  margin-bottom: 8px;
  font-size: 12px;
}

#social .ig-icon {
  width: 32px;
  height: 32px;
  margin: 4px 6px 0 0;
}


#social .swiper {
  width: 100%;
  margin: 20px auto;
}

#social .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 12px;
  height: calc(100% - 2px) !important;
}

#social .swiper-button-social {
  position: relative;
  bottom: 400px;
}

#social .swiper-button-next,
#social .swiper-button-prev {
  position: absolute;
  color: #FFFFFF;
  width: 27px !important;
}

#social .swiper-button-next:after,
#social .swiper-button-prev:after {
  width: 27px;
}

#social .card-body {
  background: white;
  max-width: 540px;
  width: calc(100% - 2px);
  height: 556px;
  border-radius: 3px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: none;
  display: block;
  padding: 0px;

}